{% load static %}

<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrin-to-fit=no">
    <meta name="discriotion" content="">
    <meta name="author" content="">
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900,">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,700,700i,900,900i,">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/one-page-wonder.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/clean-blog.min.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
            <div class="container">
                {% if user.is_authenticated %}
                <a href="{% url 'memo:memo_list' %}" class="navbar-brand">欲しいものリスト</a>
            
                {% else %}
                <a href="{% url 'memo:index' %}" class="navbar-brand">欲しいものリスト</a>
                {% endif %}
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">

                        {% if user.is_authenticated %}

                        <li class="nav-item">
                            <a href="{% url 'account_logout' %}" class="nav-link">ログアウト</a>
                        </li>

                        {% else %}

                        <li class="nav-item {% block active_signup %}{% endblock %}">
                            <a href="{% url 'account_signup' %}" class="nav-link">新規作成</a>
                        </li>
                        <li class="nav-item {% block active_login %}{% endblock %}">
                            <a href="{% url 'account_login' %}" class="nav-link">ログイン</a>
                        </li>

                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block header%}{% endblock %}

        {% if messages %}
            <div class="container">
                <div class="row">
                    <div class="my-div-style w-100">
                        <ul class="message"style="list-style:none;">
                            {% for message in messages%}
                            <li {%if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}

        {% block contents%}{% endblock %}
        <footer class="py-3 bg-black">
            <div class="container">
                <p class="m-0 text-center text-white small">Copyright &copy; 欲しいものリスト 2021</p>
            </div>
        </footer>
        </div>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    {% comment %} <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
   
</body>
</html>