{% extends 'base.html' %}
{% load static %}
{% block title %}日記詳細|Private Diary{% endblock %}
{% block active_memo_list %}active{% endblock %}

{% block contents %}
<div class="container">
    <div class="my-div-style w-100">
        <div class="row">
            <div class="col-3">
                <strong>ほしいもの</strong>
            </div>
            <div class="col-9">
                {{object.good_name}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3">
                <strong>個数</strong>
            </div>
            <div class="col-9">
                {{ object.good_quantity|linebreaksbr }}個
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3">
                <strong>価格</strong>
            </div>
            <div class="col-9">
                {{ object.good_price|linebreaksbr }}円
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3">
                <strong>購入予定日</strong>
            </div>
            <div class="col-9">
                {{object.good_deadline}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3">
                <strong>優先度</strong>
            </div>
            <div class="col-9">
                {{object.good_prionty}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3">
                <strong>購入日</strong>
            </div>
            <div class="col-9">
                {{object.good_purvhase_data}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3">
                <strong>制作日時</strong>
            </div>
            <div class="col-9">
                {{object.good_create_data}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3">
                <strong>更新日時</strong>
            </div>
            <div class="col-9">
                {{object.good_update_data}}
            </div>
        </div>

        <a href="{% url 'memo:memo_update' memo.pk %}" class="btn btn-success mt-5 mb-3">編集</a>
        <a href="{% url 'memo:memo_delete' memo.pk %}" class="btn btn-primary mt-5 mb-3">削除</a>
        <a href="{% url 'memo:memo_list' %}" class="btn btn-secondary mt-5 mb-3">戻る</a>
    </div>
</div>
{% endblock %}