{% extends 'base.html' %}
{% load static %}

{% block title %}MemoList|public Memo{% endblock %}

{% block active_memo_list %}active{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                </table>
                <button class="btn btn-primary" type="submit">作成</button>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>
      $(function () {
          // 日付は、年-月-日 の形式でお願いする。
          let dateFormat = 'yy-mm-dd';
          $('#id_good_deadline').datepicker({
              dateFormat: dateFormat
          });
          $('#id_good_purvhase_data').datepicker({
              dateFormat: dateFormat
          });
      });
</script>
{% endblock %}