{% extends 'base.html' %}
{% load static %}

{% block title %}MemoList|public Memo{% endblock %}

{% block active_memo_list %}active{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/clean-blog.min.css' %}">
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <div class="col-lg col-md-10 mx-auto">
                <div class="clearfix">
                    <a href="{% url 'memo:memo_list'  %}"></a>
                    <a href="{% url 'memo:memo_create' %}" class="btn btn-primary float-right">新規作成</a>
                </div>
                {% for memo in memo_list %}
                    {% if memo.good_status == 1 %}
                    <div class="post-preview">
                        <a href="{% url 'memo:memo_detail' memo.pk %}">
                            <h2 class="post-title">
                                {{memo.good_name}}　{{memo.good_quantity}}個
                            </h2>
                          {% comment %} <h3 class="post-title">
                              {{ memo.good_price|truncatechars:20 }}
                          </h3>  {% endcomment %}
                      </a>
                      <p class="post-meta">優先度：{{memo.good_prionty}}　購入締切：{{memo.good_deadline}}まで</p>
                      {% comment %} <p class="post-meta">優先度：{{memo.good_prionty}}</p> {% endcomment %}
                   </div>
                   <a href="{% url 'memo:redirect' memo.pk %}" class="btn btn-danger">購入済み</a>
                    <hr>
                   {% elif memo.good_status == 0 %}
                   <div class="post-preview false">
                      <a href="{% url 'memo:memo_detail' memo.pk %}"　class="false">
                          <h2 class="post-title">
                              {{memo.good_name}}
                          </h2>
                          {% comment %} <h3 class="post-title"> 
                              {{ memo.good_price|truncatechars:20 }}
                          </h3>  {% endcomment %}
                      </a>
                      <p class="post-meta">{{memo.good_purohace_shop}}</p>
                    </div>
                    <a href="{% url 'memo:redirect' memo.pk %}" class="btn btn-primary">未購入化</a>
                    <hr>
                    {% endif%}
                    {% empty %}
                        <p>メモがありません。</p>
                    {% endfor %}
                {% include 'pagination.html'%}
                {% if is_paginated %}
                    <ul class="paginated">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a href="?page={{page_obj.previous_page_number}}" class="page-link">
                                    <span area-hiddon="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        {% for page_num in page_obj.paginator.page_range %}
                            {% if page_obj.number == page_num %}
                                <li class="page-item active">
                                    <a href="#" class="page-link"></a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a href="?page={{ page_num }}" class="page-link">
                                        <span area-hiddon="true">{{page_num}}</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.next %}
                            <li class="page-item">
                                <a href="{{page_obj.next_page_number}}" class="page-link">
                                    <span area-hiddon="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}