/* a {
    color: black;
    text-decoration: none;
} */

body,
#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.my-div-style {
    margin-top: 6rem;
}

.false {
    color: #999999
}